<div class="row">
    <div *ngFor="let val of cars" class="col-3 m-4">
        <div class="card" style="width: 18rem;">
            <img src="{{val.img}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{val.brand}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{val.model}}</li>
                <li class="list-group-item">{{val.year}}</li>
            </ul>
        </div>
    </div>
</div>